* {
  box-sizing: border-box;
  line-height: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
 
}

.container{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-flex-row{
  display: flex;
  flex-direction: row !important;
}
.display-flex-column{
  display: flex;
  flex-direction: column !important;
}
.overlay{
  background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
  position: absolute !important;
  height: 100%;
  width: 100%;
  z-index: 1 !important;
}
.box {
  border-radius: 20px;
  padding: 10px 10px;
  display: flex;
  box-shadow: var(--shadow);
}
.position-relative{
  position: relative;;
}
.bold{
  font-weight: 600;
}
.light{
  font-weight: 100;
  color: grey;
}
.csr{
  cursor: pointer;
}
.no-underline{
  text-decoration: none;
}
.no-underline:hover{
  color: #695aa6;
}